
body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

h1 {
  margin: 20px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.movie img {
  width: 200px;
  border-radius: 10px;
}

.movie p {
  margin-top: 10px;
}
